<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>

        <table class="table table-striped">
            <thead> <tr>
                <th></th> <th>상품</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="album : ${albums}">
                <th:block class="forSale" th:if="${album.itemStatus=='FOR_SALE'}">
                    <td>
                        <a th:href="@{/items/detail(itemId=${album.id})}">
                            <img th:src="@{${album.imageUrl}}">
                        </a>
                    </td>
                    <td>
                        <div style="padding-top: 3%; padding-bottom: 3%">
                            <p><a style="font-size: 14pt" th:text="${album.name}" th:href="@{/items/detail(itemId=${album.id})}"></a></p>
                            <p th:text="'판매가 : '+${album.price}+'원'" style="color: #d82c50; font-weight: bolder; font-size: 12pt"></p>
                            <p style="color: #777777" th:text="${album.etc}"></p>
                        </div>
                    </td>
                </th:block>
                <th:block class="notForSale" th:if="${album.itemStatus=='NOT_FOR_SALE'}">
                    <td bgcolor="#cccccc">
                        <a th:href="@{/items/detail(itemId=${album.id})}">
                            <img class="notForSale-img" th:src="@{${album.imageUrl}}">
                        </a>
                    </td>
                    <td bgcolor="#cccccc">
                        <div style="padding-top: 3%; padding-bottom: 3%">
                            <p><a style="font-size: 14pt; text-decoration: line-through" th:text="'[판매 중단] '+${album.name}" th:href="@{/items/detail(itemId=${album.id})}"></a></p>
                            <p th:text="'판매가 : '+${album.price}+'원'" style="color: #555555; font-size: 12pt"></p>
                            <p style="color: #555555" th:text="${album.etc}"></p>
                        </div>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
        <nav style="text-align: center;">
            <ul class="pagination">
                <li class="disabled">
                    <a href="#" aria-label="First">
                        <span aria-hidden="true">First</span>
                    </a>
                </li>
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&lt;</span>
                    </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#" class="btn btn-outline-primary">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&gt;</span>
                    </a>
                </li>
                <li>
                    <a href="#" aria-label="Last">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<style>
    td img {
        width: 120px;
        height: 160px;
        margin: auto;
    }

    td a {
        text-decoration: none;
    }

    .forSale a{
        font-size: 14pt
    }

    .notForSale-img {
        filter: brightness(0.5);
    }
</style>
</html>