<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>

        <table class="table table-striped">
            <colgroup>
                <col width="10%">
                <col width="80%">
            </colgroup>
            <thead> <tr>
                <th></th> <th>상품</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="album : ${albums}">
                <th:block class="forSale" th:if="${album.itemStatus=='FOR_SALE'}">
                    <td>
                        <a th:href="@{/items/detail(itemId=${album.id})}">
                            <img th:src="@{${album.imageUrl}}">
                        </a>
                    </td>
                    <td>
                        <div style="padding-top: 3%; padding-bottom: 3%">
                            <p><a style="font-size: 14pt" th:text="${album.name}" th:href="@{/items/detail(itemId=${album.id})}"></a></p>
                            <p th:text="'판매가 : '+${album.price}+'원'" style="color: #d82c50; font-weight: bolder; font-size: 12pt"></p>
                            <p style="color: #777777" th:text="${album.etc}"></p>
                        </div>
                    </td>
                </th:block>
                <th:block class="notForSale" th:if="${album.itemStatus=='NOT_FOR_SALE'}">
                    <td bgcolor="#cccccc">
                        <a th:href="@{/items/detail(itemId=${album.id})}">
                            <img class="notForSale-img" th:src="@{${album.imageUrl}}">
                        </a>
                    </td>
                    <td bgcolor="#cccccc">
                        <div style="padding-top: 3%; padding-bottom: 3%">
                            <p><a style="font-size: 14pt; text-decoration: line-through" th:text="'[판매 중단] '+${album.name}" th:href="@{/items/detail(itemId=${album.id})}"></a></p>
                            <p th:text="'판매가 : '+${album.price}+'원'" style="color: #555555; font-size: 12pt"></p>
                            <p style="color: #555555" th:text="${album.etc}"></p>
                        </div>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="paging">
        <div th:if="${albums.totalPages != 1}" class="block-27">
            <ul>
                <li th:class="${albums.number == 0} ? disabled">
                    <a th:href="@{/items/albums(page=1)}">&laquo;</a>
                </li>
                <li th:class="${albums.number == 0} ? disabled">
                    <a th:href="@{/items/albums(page=${albums.number})}">&larr;</a>
                </li>
                <li th:class="${albums.number == (page - 1)} ? 'active pointer-disabled'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a th:href="@{/items/albums(page=${page})}"
                       th:text="${page}" th:classappend="${albums.number + 1}==${page}? 'active'"></a>
                </li>
                <li th:class="${albums.number + 1 == albums.totalPages} ? disabled">
                    <a th:href="@{/items/albums(page=${albums.number + 2})}">&rarr;</a>
                </li>
                <li th:class="${albums.number + 1 == albums.totalPages} ? disabled">
                    <a th:href="@{/items/albums(page=${albums.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<style>
    td img {
        width: 120px;
        height: 160px;
        margin: auto;
    }

    td a {
        text-decoration: none;
    }

    .forSale a{
        font-size: 14pt
    }

    .notForSale-img {
        filter: brightness(0.5);
    }
</style>
</html>