<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="jumbotron" th:object="${item}" style="overflow: hidden">
        <div style="height: 100%; width: 45%; float: left; text-align: center;">
            <img style="height: 260px; width: 200px;" th:src="@{${item.imageUrl}}" th:classappend="${item.itemStatus=='FOR_SALE'}? '':'notForSale-img'">
        </div>
        <div style="height: 100%; width: 50%; float: left">
                <h3 th:text="${item.itemStatus=='FOR_SALE'}? ${item.name}:'[판매 중단] '+${item.name}"></h3>
                <p>
                    가격 : <a style="color: #c0183a; font-weight: bolder; font-size: 16pt" th:text="${item.price}+' 원'"></a>
                </p>
                <p th:if="${item.itemStatus=='FOR_SALE'}" th:text="'재고 수량 : '+${item.stockQuantity}+'개'"></p>
            <form role="form" method="post" th:action="@{/order/new/addItem}">
                <input id="itemId" hidden th:value="${item.id}">
                <div class="form-group">
                    <label for="item">옵션 선택</label>
                    <select name="itemId" id="item" class="form-control">
                        <option value="option">옵션 선택</option>
                        <option th:each="item : ${item}"
                                th:value="${item.id}"
                                th:text="${item.name}"
                                th:selected="${item}"/>
                    </select>
                </div>
                <div class="form-group">
                    <label th:for="count">주문 수량</label>
                    <input id="count" name="count" th:data-suffix="개" th:value="1" th:min="1" th:max="${item.stockQuantity}"
                           type="number" class="form-control" th:disabled="${item.itemStatus=='NOT_FOR_SALE'}"/>
                </div>
                <th:block th:if="${item.itemStatus=='FOR_SALE'}">
                    <button type="submit" class="btn btn-primary">주문하기</button>
                    <button type="button" class="btn btn-outline-primary" id="shoppingBagBtn">장바구니</button>
                    <button type="submit" class="btn" th:classappend="${isLikeItem}" th:formaction="@{/like/add}">찜</button>
                </th:block>
                <th:block th:if="${item.itemStatus=='NOT_FOR_SALE'}">
                    <div class="flex-row">
                        <span class="notForSale">판매 중단</span>
                        <button type="submit" class="btn" th:classappend="${isLikeItem}" th:formaction="@{/like/add}">찜</button>
                    </div>
                </th:block>
            </form>
        </div>

    </div>
    <div style="clear: both" th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<style>

    .notForSale-img {
        filter: brightness(0.5);
    }

    .notForSale {
        font-size: 24px;
        font-weight: bolder;
        margin: 0;
        border: 1px solid #444444;
        border-radius: 5px;
        background-color: #cccccc;
        color: #a2233d;
        width: 100%;
        height: 100%;
        text-decoration: none;
        text-align: center;
    }

    .stockQuantity {
        text-decoration: line-through;
    }

</style>
<script>

    $('#shoppingBagBtn').click(function (){
        $.ajax({
            url: '/shop/add',
            type: 'POST',
            data: {
                "itemId" : $('#itemId').val(),
                "count" : $('#count').val()
            },
            success: function(data) {
                if(confirm(data+"\n" +
                    "장바구니로 이동하겠습니까?")) {
                    window.location.href = '/shop';
                }
                else {
                    window.location.reload();
                }
            },
            error: function(data) {
                alert(data);
                window.location.reload();
            }
        })
    })
</script>
</html>