<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th> </th> <th>상품</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <th:block class="forSale" th:if="${item.itemStatus=='FOR_SALE'}">
                    <td>
                        <a th:href="@{/items/detail(itemId=${item.id})}">
                            <img th:src="@{${item.imageUrl}}">
                        </a>
                    </td>
                    <td>
                        <div style="padding-top: 3%; padding-bottom: 3%">
                            <p><a style="font-size: 14pt" th:text="${item.name}" th:href="@{/items/detail(itemId=${item.id})}"></a></p>
                            <p th:text="'판매가 : '+${item.price}+'원'" style="color: #d82c50; font-weight: bolder; font-size: 12pt"></p>
                            <p style="color: #777777" th:text="${item.etc}"></p>
                        </div>
                    </td>
                </th:block>
                <th:block class="notForSale" th:if="${item.itemStatus=='NOT_FOR_SALE'}">
                    <td bgcolor="#cccccc">
                        <a th:href="@{/items/detail(itemId=${item.id})}">
                            <img class="notForSale-img" th:src="@{${item.imageUrl}}">
                        </a>
                    </td>
                    <td bgcolor="#cccccc">
                        <div style="padding-top: 3%; padding-bottom: 3%">
                            <p><a style="font-size: 14pt; text-decoration: line-through" th:text="'[판매 중단] '+${item.name}" th:href="@{/items/detail(itemId=${item.id})}"></a></p>
                            <p th:text="'판매가 : '+${item.price}+'원'" style="color: #555555; font-size: 12pt"></p>
                            <p style="color: #555555" th:text="${item.etc}"></p>
                        </div>
                    </td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<style>

    td img {
        width: 120px;
        height: 160px;
        margin: auto;
    }

    td a {
        text-decoration: none;
    }

    .forSale a{
        font-size: 14pt
    }

    .notForSale-img {
        filter: brightness(0.5);
    }

</style>
</html>