<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead> <tr>
                <th> </th> <th>상품</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td>
                    <a th:href="@{/items/detail(itemId=${item.id})}">
                        <img th:src="@{${item.imageUrl}}" style="height: 160px; width: 120px">
                    </a>
                </td>
                <td>
                    <div style="padding-top: 3%; padding-bottom: 3%">
                        <p><a style="font-size: 14pt" th:text="${item.name}" th:href="@{/items/detail(itemId=${item.id})}"></a></p>
                        <p style="color: #777777" th:text="${item.etc}"></p>
                        <p th:text="${item.price}+'원'"></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>