<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <h4>검색 결과</h4>
    </div>
    <div th:if="${items.size()}==0" style="text-align: center;" class="jumbotron">
        <h4>일치하는 검색 결과가 없습니다.</h4>
    </div>
    <div th:if="${items.size()}>0">
        <table class="table table-striped">
            <thead> <tr>
                <th> </th> <th>상품</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td>
                    <a th:href="@{/items/detail(itemId=${item.id})}">
                        <img th:src="@{${item.imageUrl}}" style="height: 160px; width: 120px">
                    </a>
                </td>
                <td>
                    <div style="padding-top: 3%; padding-bottom: 3%">
                        <p><a style="font-size: 14pt" th:text="${item.name}" th:href="@{/items/detail(itemId=${item.id})}"></a></p>
                        <p th:text="'판매가 : '+${item.price}+'원'" style="color: #d82c50; font-weight: bolder; font-size: 12pt"></p>
                        <p style="color: #777777" th:text="${item.etc}"></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>