<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/forgetHeader :: forgetHeader"/>
    <div class="inner-container">
        <form method="post" action="/members/changePassword" th:object="${changePasswordForm}" id="form">
            <div>
                <h3>비밀번호 찾기</h3>
            </div>
            <div class="change-form">
                <p>비밀번호 변경</p>
                <input type="hidden" th:field="*{loginId}">
                <div class="form-group">
                    <input  type="password" th:field="*{password}" id="password" class="form-control" placeholder="새 비밀번호를 입력하세요">
                </div>
                <div class="form-group">
                    <input type="password" id="confirmPass" class="form-control" placeholder="비밀번호 확인">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">확인</button>
        </form>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
<style>

    .fieldError {
        border-color: #bd2130;
    }

    .inner-container {
        width: 50%;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .inner-container div {
        text-align: center;
    }

    .change-form {
        margin-top: 20px;
        color: #444444;
    }

    form button {
        width: 100%;
        height: 45px;
    }

</style>
<script type="text/javascript">
    $('#form').onsubmit(function() {

        const password = $('#password').val();
        const conformPass = $('#confirmPass').val();

        if(password.length==0 || conformPass.length==0) {
            alert("비밀번호를 입력하주세요")
        }
        else if(password!=conformPass){
            alert("비밀번호가 일치하지 않습니다.");
        }
        else {
            $('#form').submit();
        }
    });
</script>
</html>