<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/forgetHeader :: forgetHeader"/>
    <div class="inner-container">
        <div style="margin-bottom: 20px">
            <h3>비밀번호 찾기</h3>
        </div>
        <div class="jumbotron">
            <p>비밀번호 변경에 성공했습니다.</p>
        </div>
        <div class="flex-row">
            <a type="button" href="/userinfo" class="btn btn-outline-primary">마이페이지</a>
            <a style="margin-left: 10px" type="button" href="/members/login" class="btn btn-outline-primary">로그인</a>
        </div>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .inner-container {
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center
    }

    .inner-container div {
        text-align: center;
        width: 60%;
        margin: auto;
    }

    .inner-container .jumbotron {
        margin-top: 20px;
    }

    .inner-container .flex-row {
        margin-top: 20px;
    }

    .inner-container a {
        flex: 1;
    }
</style>
</html>