<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/forgetHeader :: forgetHeader"/>
    <div style="width: 50%; margin: auto; padding-top: 50px; padding-bottom: 50px;">
        <div style="text-align: center; margin-bottom: 20px">
            <h3>아이디 찾기</h3>
        </div>
        <div style="color: #444444; text-align: center">
            <p>등록된 휴대폰 번호로 찾기</p>
            <div class="form-group">
                <input  type="text" id="name" class="form-control" placeholder="이름을 입력하세요">
            </div>
            <div class="form-group" style="display: flex; flex-direction: row; margin-bottom: 40px">
                <input style="flex: 3" type="text" id="phone" class="form-control" placeholder="휴대폰 번호를 입력하세요">
                <button type="button" id="send" class="btn btn-outline-primary">인증번호 요청</button>
            </div>
        </div>
        <div style="color: #444444; text-align: center">
            <div class="form-group"  style="margin-bottom: 40px">
                <input id="userNum" type="text" name="certificateNumber" class="form-control" placeholder="인증 번호를 입력하세요"
                       th:class="form-control">
            </div>
            <button type="button" id="enterBtn" class="btn btn-primary" style="width: 100%; height: 45px;">확인</button>
        </div>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
<script type="text/javascript">
    $('#send').click(function() {

        const name = $('#name').val();
        const phone = $('#phone').val();

        $.ajax ({
            url: '/members/getCertificateNumber',
            type: 'GET',
            data: {
                "phone" : phone
            },
            success: function(data) {
                const checkNum = data;
                alert("인증번호가 전송되었습니다.");

                $('#enterBtn').click(function() {
                    const userNum = $('#userNum').val();

                    if(checkNum === userNum) {
                        alert('인증 성공하였습니다.');
                        $.ajax({
                            url: '/members/findId',
                            type: 'GET',
                            data: {
                                "name" : name,
                                "phone" : phone
                            },
                            success: function(data) {
                                var form = document.createElement("form");
                                form.setAttribute("method", "get");
                                form.setAttribute("action", "/members/findIdSuccess");

                                var result = document.createElement("input");
                                result.setAttribute("type","hidden");
                                result.setAttribute("name","userId");
                                result.setAttribute("value",data);

                                form.appendChild(result);
                                document.body.appendChild(form);
                                form.submit();
                            }
                        });
                    }
                    else {
                        alert('인증 실패하였습니다. 다시 입력해주세요.');
                    }
                });

            }
        });

    });
</script>
</html>