<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="flex-row" style="margin-bottom: 20px">
        <a href="/userinfo" style="text-decoration: none; color: black"><h3>마이페이지</h3></a>
    </div>
    <div class="flex-row">
        <div style="flex: 1;" th:replace="fragments/myPageMenu :: myPageMenu"/>
        <div style="margin-left: 30px; flex: 5">
            <h4>회원 정보 수정</h4>
            <table style="width: 100%">
                <tr>
                    <td class="label">아이디</td>
                    <td class="value">
                        <a th:text="${#authentication.name}" id="loginId"></a>
                    </td>
                </tr>
                <tr>
                    <td class="label">이름</td>
                    <td class="value">
                        <a th:text="${name}"></a>
                    </td>
                </tr>
                <tr>
                    <td class="label">비밀번호</td>
                    <td class="value">
                        <button id="passwordBtn" class="btn btn-outline-dark">비밀번호 변경</button>
                    </td>
                </tr>
                <form role="form" method="post" action="/userinfo/updateUserInfo" th:object="${updateForm}">
                    <tr>
                        <td class="label">휴대폰 번호</td>
                        <td class="value">
                            <a th:text="*{phone}"></a>
                            <input id="phone" th:field="*{phone}" hidden>
                            <button type="button" id="phoneBtn" class="btn btn-outline-dark" style="margin-left: 20px">변경</button>
                            <div id="changePhoneForm" style="margin-top: 10px; width: 50%" hidden>
                                <div class="flex-row">
                                    <input type="number" id="newPhone" placeholder="새 휴대폰 번호를 입력해주세요">
                                    <button type="button" id="certificateBtn" class="btn btn-dark" style="margin-left: 5px">인증번호 받기</button>
                                </div>
                                <div class="value" style="margin-top: 5px">
                                    <input type="number" id="certificateNum" placeholder="인증번호를 입력해주세요">
                                    <button type="button" id="enterBtn" class="btn btn-dark" style="margin-left: 5px">확인</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">주소</td>
                        <td class="value">
                            <div class="value">
                                <div class="form-group flex-row">
                                    <label th:for="zipcode">우편번호</label>
                                    <input id="zipcode" style="flex: 3" type="text" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요"
                                           readonly onclick="findAddr()">
                                </div>
                                <div class="form-group flex-row">
                                    <label th:for="city">도로명 주소</label>
                                    <input id="streetAdr" style="flex: 3" type="text" th:field="*{street}" class="form-control" placeholder="도로명 주소를 입력하세요" readonly>
                                </div>
                                <div class="form-group flex-row">
                                    <label th:for="street">상세주소</label>
                                    <input id="detailAdr" style="flex: 3" type="text" th:field="*{detail}" class="form-control" placeholder="상세 주소를 입력하세요" readonly>
                                </div>
                            </div>
                        </td>
                    </tr>
                </form>
            </table>
            <div class="submitDiv">
                <button id="submitBtn" type="submit" class="btn btn-primary">회원 정보 수정</button>
            </div>
        </div>
    </div>
    <div id="passwordChangeModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">비밀번호 변경</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="flex-row">
                            <label>현재 비밀번호</label>
                            <input type="password" id="nowPw">
                        </div>
                        <div class="flex-row">
                            <label>새 비밀번호</label>
                            <input type="password" id="newPw">
                        </div>
                        <div class="flex-row">
                            <label>비밀번호 확인</label>
                            <input type="password" id="confirmPw">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="changePassword" type="button" class="btn btn-primary" style="margin: auto">저장</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
<style>
    table, th, td {
        border: 1px solid #DDDDDD;
        border-collapse: collapse;
        color: #444444;
        padding: 10px;
        min-width: fit-content;
    }

    .label {
        width: 20%;
        text-align: center;
    }

    .value {
        width: 80%;
    }

    .submitDiv {
        display: flex;
        justify-content: center;
    }

    .submitDiv button {
        width: 30%; font-size: 16pt; margin-top: 20px;
    }

    .flex-row label {
        flex: 1;
        padding-top: 5px;
    }

    .modal-body form {
        margin-top: 20px;
        margin-bottom: 20px
    }

    .modal-body .flex-row label {
        flex: 1;
    }

    .modal-body .flex-row input{
        flex: 3;
    }

</style>

<script>

    $('#submitBtn').click(function() {
        $('form').submit();
    })

    // [출처] : https://ws-pace.tistory.com/38
    function findAddr() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = '' // 주소 변수
                var extraAddr = '' // 참고항목 변수

                if(data.userSelectedType=== 'R') { // 사용자가 도로명 주소를 선택했을 때
                    addr = data.roadAddress;
                }
                else {
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType=== 'R') {
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== ''? ', ' + data.buildingName: data.buildingName);
                    }
                    if(extraAddr !== '') {
                        extraAddr += ' ('+extraAddr+')';
                    }
                }
                document.getElementById("zipcode").value = data.zonecode;
                document.getElementById("streetAdr").value = addr;
                document.getElementById("detailAdr").readOnly = false;
                document.getElementById("detailAdr").focus();
            }
        }).open();
    }

    $('#phoneBtn').click(function() {
        document.getElementById("changePhoneForm").hidden = false;
    })

    $('#certificateBtn').click(function() {

        var newPhone = document.getElementById("newPhone").value;
        var loginId = document.getElementById("loginId").value;

        $.ajax ({
            url: '/userinfo/getCertificateNumber',
            type: 'GET',
            data: {
                "phone" : newPhone
            },
            success: function(data) {
                if(data==null) {
                    alert("로그인이 필요한 서비스입니다.");
                }
                else {
                    const checkNum = data;
                    alert("인증번호가 전송되었습니다.");

                    $('#enterBtn').click(function() {
                        const userNum = $('#certificateNum').val();

                        if(checkNum === userNum) {
                            alert('인증 성공하였습니다.');
                            document.getElementById("phone").value = newPhone;
                            $('form').submit();
                        }
                        else {
                            alert('인증 실패하였습니다. 다시 입력해주세요.');
                        }
                    });
                }

            }
        });

    });

    $('#passwordBtn').click( function() {
        $('#passwordChangeModal').modal('toggle');
    });

    $('#changePassword').click( function() {
        var nowPw = document.getElementById("nowPw").value;
        var newPw = document.getElementById("newPw").value;
        var confirmPw = document.getElementById("confirmPw").value;

        if(newPw===confirmPw) {

            // change password ajax

            alert("비밀번호를 변경했습니다.");
            $('#passwordChangeModal').modal('hide');
        }
        else {
            alert("비밀번호가 일치하지 않습니다.");
        }
    });

    // 페이지 이동 감지
    window.onbeforeunload = function (event) {
        return "";
    };

</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>