<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: adminHeader" />
    <div class="admin-member">
        <a href="/admin/ad"><h3> 광고 관리 </h3></a>
        <div class="admin-search-bar">
            <form role="form" method="get" th:action="@{/admin/ad/search}" class="flex-row">
                <div class="search flex-row">
                    <button type="reset" class="btn btn-dark" onclick="window.location.href = '/admin/ad'">전체보기</button>
                    <input type="text" placeholder="광고 검색" name="adSearch" th:value="${adSearch}"/>
                </div>
                <button type="submit" class="btn btn-dark">검색</button>
                <button id="addAd" type="button" class="btn btn-primary">광고 추가</button>
            </form>
        </div>
        <table id="members" class="table table-striped">
            <colgroup>
                <col width="10%">
                <col width="20%">
                <col width="30%">
                <col width="30%">
                <col width="5%">
                <col width="5%">
            </colgroup>
            <thead>
            <tr>
                <th></th> <th></th> <th></th> <th>세부 사항</th> <th></th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ad : ${ads}">
                <td style="text-align: center">
                    <p th:if="${ad.status.toString()}=='NOW'" style="color: green">광고 중</p>
                    <p th:if="${ad.status.toString()}=='NOT'"  style="color: darkred">광고 미표시</p>
                    <p th:if="${ad.status.toString()}=='END'"  style="color: dimgrey">광고 종료</p>
                </td>
                <td>
                    <img th:src="@{${ad.imagePath}}" style="width: 200px; height: 80px">
                </td>
                <td>
                    <div>
                        <p th:text="'광고명 : '+${ad.name}"></p>
                        <p th:text="'광고 기한 : '+${ad.start}+' - '+${ad.end}"></p>
                    </div>
                </td>
                <td>
                    <a th:if="${ad.href.length==0}">사이트 연결 없음</a>
                    <a th:if="${ad.href.length>0}" th:text="'사이트 연결 : '+${ad.href}" th:href="${ad.href}"></a>
                </td>
                <td>
                    <a th:onclick="update([[${ad.id}]])">수정</a>
                </td>
                <td>
                    <a th:onclick="deleteAd([[${ad.id}]])">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="updateModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">광고 수정</h5>
                    <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="updateAdForm" th:object="${updateAdForm}" method="post" action="/ad/update" onsubmit="return checkUpdateForm();">
                        <input id="updateId" th:field="*{id}" hidden>
                        <div class="update-image">
                            <img id="updateImage" style="height: 200px; width: 400px">
                            <div class="flex-row">
                                <input type="file" class="form-control-file" name="imgFile" id="updateFile" onchange="setUpdateImg(event, this);"
                                       accept='image/jpeg,image/gif,image/png'>
                            </div>
                        </div>
                        <div class="flex-row">
                            <label>광고 명</label>
                            <input class="form-control" type="text" id="updateName" th:field="*{name}" placeholder="광고명을 입력해주세요">
                        </div>
                        <div class="flex-row">
                            <label>광고 시작</label>
                            <input class="form-control" type="date" id="updateStart" th:field="*{start}" placeholder="광고 시작 날짜를 선택해주세요">
                        </div>
                        <div class="flex-row">
                            <label>광고 종료</label>
                            <input class="form-control" type="date" id="updateEnd" th:field="*{end}" placeholder="광고 종료 날짜를 선택해주세요" onchange="updateEndSelected()">
                        </div>
                        <div class="flex-row">
                            <label>광고 유형 선택</label>
                            <select id="updateType" class="form-control" th:field="*{type}">
                                <option value="option">광고 유형</option>
                                <option value="main">메인 화면 배너</option>
                            </select>
                        </div>
                        <div class="flex-row">
                            <label>광고 상태</label>
                            <select id="updateStatus" class="form-control" th:field="*{status}">
                                <option value="option">광고 상태</option>
                                <option value="NOW">광고 표시</option>
                                <option value="NOT">광고 미표시</option>
                                <option value="END">광고 종료</option>
                            </select>
                        </div>
                        <div class="flex-row">
                            <label>바로가기</label>
                            <input class="form-control" type="text" id="updateHref" th:field="*{href}" placeholder="바로가기 URL을 입력해주세요">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="updateBtn" type="button" class="btn btn-primary" style="margin: auto">저장</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">광고 추가</h5>
                    <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="addAdForm" th:object="${addAdForm}" method="post" action="/ad/new" onsubmit="return checkAddForm();">
                        <div class="update-image">
                            <img id="addImage" style="height: 200px; width: 400px">
                            <div class="flex-row">
                                <input type="file" class="form-control-file" name="imgFile" id="addFile" onchange="setAddImg(event, this);"
                                       accept='image/jpeg,image/gif,image/png'>
                            </div>
                        </div>
                        <div class="flex-row">
                            <label>광고 명</label>
                            <input class="form-control" type="text" id="name" th:field="*{name}" placeholder="광고명을 입력해주세요">
                        </div>
                        <div class="flex-row">
                            <label>광고 시작</label>
                            <input class="form-control" type="date" id="start" th:field="*{start}" placeholder="광고 시작 날짜를 선택해주세요" onchange="addStartSelected()">
                        </div>
                        <div class="flex-row">
                            <label>광고 종료</label>
                            <input class="form-control" type="date" id="end" th:field="*{end}" placeholder="광고 종료 날짜를 선택해주세요" onchange="addEndSelected()">
                        </div>
                        <div class="flex-row">
                            <label>광고 유형 선택</label>
                            <select id="type" class="form-control" th:field="*{type}">
                                <option value="option">광고 유형</option>
                                <option value="main">메인 화면 배너</option>
                            </select>
                        </div>
                        <div class="flex-row">
                            <label>광고 상태</label>
                            <select id="status" class="form-control" th:field="*{status}">
                                <option value="option">광고 상태</option>
                                <option value="NOW">광고 표시</option>
                                <option value="NOT">광고 미표시</option>
                                <option value="END">광고 종료</option>
                            </select>
                        </div>
                        <div class="flex-row">
                            <label>바로가기</label>
                            <input class="form-control" type="text" id="href" th:field="*{href}" placeholder="바로가기 URL을 입력해주세요">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="addBtn" type="button" class="btn btn-primary" style="margin: auto">저장</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<style>

    .admin-table-a a {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    th, td {
        margin: auto;
    }

    .modal-body form {
        margin-top: 20px;
        margin-bottom: 20px
    }

    .modal-body .flex-row {
        margin-bottom: 10px;
    }

    .modal-body .flex-row label {
        flex: 1;
        margin: auto;
        height: fit-content;
    }

    .modal-body .update-image {
        margin: auto;
        text-align: center;
    }

    .modal-body .update-image .flex-row {
        margin-bottom: 20px;
    }

    .modal-body .flex-row input{
        flex: 3;
    }

    .modal-body .flex-row select{
        flex: 3;
    }

</style>
<script>

    function addStartSelected() {
        document.getElementById("end").readOnly = false;
    }

    function addEndSelected() {
        if($('#start').val() > $('#end').val()) {
            alert("시작 날짜보다 이전 날짜는 선택할 수 없습니다.");
            $('#end').val('');
        }
        else {
            //alert(new Date($('#end').val())+" "+new Date());
            if(new Date($('#end').val()) < new Date()) {
                document.getElementById("status").value = "END";
                document.getElementById("status").disabled = true;
            }
            else {
                document.getElementById("status").value = "option";
                document.getElementById("status").disabled = false;
            }
        }

    }

    function updateEndSelected() {
        if($('#updateStart').val() > $('#updateEnd').val()) {
            alert("시작 날짜보다 이전 날짜는 선택할 수 없습니다.");
            $('#updateEnd').val('');
        }
        else {
            //alert(new Date($('#end').val())+" "+new Date());
            if(new Date($('#updateEnd').val()) < new Date()) {
                document.getElementById("updateStatus").value = "END";
                document.getElementById("updateStatus").disabled = true;
            }
            else {
                document.getElementById("updateStatus").disabled = false;
            }
        }

    }

    $('#addAd').click(function () {
        document.getElementById("addAdForm").reset();
        document.getElementById("end").readOnly = true;
        $('#addModal').modal('toggle');
    });

    function setAddImg(event, obj) {

        var file_kind = obj.value.lastIndexOf('.');
        var file_name = obj.value.substring(file_kind+1,obj.length);
        var file_type = file_name.toLowerCase();

        var check_file_type = new Array();
        check_file_type=['jpg','gif','png','jpeg','bmp'];


        if(check_file_type.indexOf(file_type)==-1){
            alert('이미지 파일만 선택할 수 있습니다.');
            var parent_Obj = obj.parentNode;
            var node = parent_Obj.replaceChild(obj.cloneNode(true),obj);

            document.getElementById("addFile").value = "";
            document.getElementById("addFile").select();
            document.selection.clear();
            return false;
        }
        else {
            var fr = new FileReader();

            fr.onload = function(event) {
                document.getElementById("addImage").setAttribute("src", event.target.result);
            };

            fr.readAsDataURL(event.target.files[0]);
            //출처: https://sinna94.tistory.com/entry/JavaScript-이미지-업로드-미리보기-만들기 [Chungs:티스토리]
        }


    }

    $('#addBtn').click(function (){
        $('#addAdForm').submit();
    })

    function checkAddForm() {
        if($('#addFile').val().length == 0) {
            alert("광고 이미지를 업로드 해주세요");
            return false;
        }
        if($('#name').val().length == 0) {
            alert("광고명을 입력해주세요");
            return false;
        }
        if($('#start').val().length == 0) {
            alert("광고 시작 날짜를 선택해주세요");
            return false;
        }
        if($('#end').val().length == 0) {
            alert("광고 종료 날짜를 선택해주세요");
            return false;
        }
        if($('#type').val() == "option") {
            alert("광고 유형을 선택해주세요");
            return false;
        }
        if($('#status').val() == "option") {
            alert("광고 상태를 선택해주세요");
            return false;
        }
        return true;
    }

    function update(id) {
        $.ajax({
            url: '/ad/findAd',
            method: 'POST',
            data: {
                "adId" : id
            },
            success: function(data) {
                document.getElementById("updateId").value = data.id;
                document.getElementById("updateName").value = data.name;
                document.getElementById("updateStart").value = data.start;
                document.getElementById("updateEnd").value = data.end;
                document.getElementById("updateType").value = data.type;
                document.getElementById("updateStatus").value = data.status;
                document.getElementById("updateHref").value = data.href;
                document.getElementById("updateImage").setAttribute("src", data.imagePath);
                $('#updateModal').modal('toggle');

            }
        })
    }

    $('#updateBtn').click(function () {
        $('#updateAdForm').submit();
    });

    function checkUpdateForm() {
        if($('#updateName').val().length == 0) {
            alert("광고명을 입력해주세요");
            return false;
        }
        if($('#updateStart').val().length == 0) {
            alert("광고 시작 날짜를 선택해주세요");
            return false;
        }
        if($('#updateEnd').val().length == 0) {
            alert("광고 종료 날짜를 선택해주세요");
            return false;
        }
        if($('#updateType').val() == "option") {
            alert("광고 유형을 선택해주세요");
            return false;
        }
        if($('#updateStatus').val() == "option") {
            alert("광고 상태를 선택해주세요");
            return false;
        }
        return true;
    }

    function setUpdateImg(event, obj) {

        var file_kind = obj.value.lastIndexOf('.');
        var file_name = obj.value.substring(file_kind+1,obj.length);
        var file_type = file_name.toLowerCase();

        var check_file_type = new Array();
        check_file_type=['jpg','gif','png','jpeg','bmp'];


        if(check_file_type.indexOf(file_type)==-1){
            alert('이미지 파일만 선택할 수 있습니다.');
            var parent_Obj = obj.parentNode;
            var node = parent_Obj.replaceChild(obj.cloneNode(true),obj);

            document.getElementById("addFile").value = "";
            document.getElementById("addFile").select();
            document.selection.clear();
            return false;
        }
        else {
            var fr = new FileReader();

            fr.onload = function(event) {
                document.getElementById("addImage").setAttribute("src", event.target.result);
            };

            fr.readAsDataURL(event.target.files[0]);
            //출처: https://sinna94.tistory.com/entry/JavaScript-이미지-업로드-미리보기-만들기 [Chungs:티스토리]
        }


    }

    function deleteAd(id) {
        if(confirm("삭제하시겠습니까?")) {
            // delete
            $.ajax({
                url : '/ad/delete',
                method: 'POST',
                data : {
                    "adId" : id
                },
                success: function(data) {
                    alert(data);
                    window.location.href = '/admin/ad';
                },
                error: function(data) {
                    alert(data);
                    window.location.href = '/admin/ad';
                }
            })
        }
    }

</script>

</html>