<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <h3>결제</h3>
    </div>
    <div style="overflow: hidden">
        <div style="margin-top: 20px">
            <h4>상품 확인</h4>
            <table class="table table-striped" style="text-align: center">
                <thead>
                <tr>
                    <th>상품 정보</th> <th>상품 수량</th> <th>상품 금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td style="text-align: left; padding-left: 30px; padding-right: 30px">
                        <img th:src="@{'/images/'+${item.itemId}+'.png'}" style="height: 120px; width: 80px; margin-right: 20px">
                        <a th:href="@{/items/detail(itemId=${item.itemId})}" th:text="${item.name}"></a>
                    </td>
                    <td th:text="${item.count}" style="vertical-align: middle"></td>
                    <td th:text="${item.price}+'원'" style="vertical-align: middle"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="margin-top: 20px">
            <h4>결제금액</h4>
            <div style="background-color: #dff6ff; display: flex; flex-direction: row">
                <div style="font-weight: bold; border: 1px solid #cfefff; flex: 1; text-align: center; vertical-align: middle; padding-top: 10px">
                    <p>총 상품금액</p>
                    <p th:text="${totalItemPrice}" style="font-size: 20pt"></p>
                </div>
                <div style="font-weight: bold; border: 1px solid #cfefff; flex: 1; text-align: center; vertical-align: middle; padding-top: 10px">
                    <p>배송비</p>
                    <p th:text="${shippingFee}" style="font-size: 20pt"></p>
                </div>
                <div style="font-weight: bold; border: 1px solid #cfefff; flex: 1; text-align: center; vertical-align: middle; padding-top: 10px; color: #a2233d">
                    <p>최종 결제 금액</p>
                    <p th:text="${totalPrice}" style="font-size: 24pt"></p>
                </div>
            </div>
            <p style="color: #AAAAAA; font-size: 9pt">주문 금액 5만원 이상 배송비 무료</p>
        </div>
        <div style="margin-top: 20px;">
            <h4>배송주소</h4>
            <form role="form" action="/order/createOrder" th:object="${orderForm}" method="post">
                <div style="display: flex; flex-direction: row">
                    <div style="background-color: #EEEEEE; padding: 3%; flex: 2; font-size: 12pt; color: #909de9">
                        <div class="form-group" style="display: flex; flex-direction: row">
                            <label th:for="name" style="width: 20%;">수령인 이름</label>
                            <input type="text" th:field="*{name}" class="form-control" style="width: 30%; margin-left: 20px">
                        </div>
                        <div class="form-group" style="display: flex; flex-direction: row">
                            <label th:for="phone" style="width: 20%;">휴대폰 번호</label>
                            <input type="tel" th:field="*{phone}" class="form-control" style="width: 40%; margin-left: 20px">
                        </div>
                        <hr>
                        <div class="form-group" style="display: flex; flex-direction: row">
                            <label th:for="city" style="width: 20%;">시</label>
                            <input type="text" th:field="*{city}" class="form-control" style="width: 10%; margin-left: 20px">
                        </div>
                        <div class="form-group" style="display: flex; flex-direction: row">
                            <label th:for="street" style="width: 20%;">거리</label>
                            <input type="text" th:field="*{street}" class="form-control" style="width: 20%; margin-left: 20px">
                        </div>
                        <div class="form-group" style="display: flex; flex-direction: row">
                            <label th:for="zipcode" style="width: 20%;">우편번호</label>
                            <input type="text" th:field="*{zipcode}" class="form-control" style="width: 20%; margin-left: 20px">
                        </div>
                    </div>
                    <div style="height: fit-content; background-color: #dbe7ff; font-weight: bold; border: 1px solid #909de9; flex: 1; text-align: center; vertical-align: middle; padding-top: 20px; color: #c0183a">
                        <h4>총 결제 금액</h4>
                        <p th:text="${totalPrice}" style="font-size: 28pt"></p>
                        <button type="submit" class="btn btn-primary" style="width: 100%; font-size: 20pt; margin-top: 10px">결제하기</button>
                    </div>
                </div>
                <div style="margin-top: 20px; margin-bottom: 50px">
                    <h4>결제 방법</h4>
                    <div class="form-check form-check-inline" style="background-color: #EEEEEE;">
                        <div style="padding: 10px">
                            <input type="radio" th:field="*{payment}" value="deposit" class="form-check-input">
                            <label class="form-check-label">무통장 입금</label>
                        </div>
                        <div style="padding: 10px">
                            <input type="radio" th:field="*{payment}" value="pay" class="form-check-input">
                            <label class="form-check-label">카드 결제</label>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div style="clear: both" th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>