<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div style="overflow: hidden">
        <div>
            <h3>주문 상세 정보</h3>
            <div style="background-color: #EEEEEE; padding: 2%;">
                <a>주문 일자 : <a th:text="${order.orderDate}" style="font-weight: bold; margin-right: 20px"></a></a>
                <a>주문 번호 : <a th:text="${order.id}" style="font-weight: bold; margin-right: 20px"></a></a>
                <a>주문 상태 : <a th:text="${order.status}" style="font-weight: bold; margin-right: 20px"></a></a>
                <a th:if="${order.status}=='주문 완료' or ${order.status}=='결제 완료'" href="#" th:href="'javascript:cancel('+${order.id}+')'">주문 취소</a>
                <a th:if="${order.status}=='주문 취소'" href="#" th:href="'javascript:deleteOrder('+${order.id}+')'">주문 목록에서 삭제</a>
            </div>
        </div>
        <div style="padding-top: 20px">
            <table class="table table-striped" th:object="${order}" style="text-align: center">
                <thead>
                <tr>
                    <th>상품 정보</th> <th>상품 수량</th> <th>상품 금액</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderItem : ${order.orderItems}">
                    <td style="text-align: left; padding-left: 30px; padding-right: 30px">
                        <img th:src="@{'/images/'+${orderItem.itemId}+'.png'}" style="height: 120px; width: 80px; margin-right: 20px">
                        <a th:href="@{/items/detail(itemId=${orderItem.itemId})}" th:text="${orderItem.name}"></a>
                    </td>
                    <td th:text="${orderItem.count}" style="vertical-align: middle"></td>
                    <td th:text="${orderItem.price}" style="vertical-align: middle"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div style="padding-top: 20px;">
            <h4>배송지 정보</h4>
            <div style="background-color: #EEEEEE; padding: 3%; color:#4082d9; height: fit-content">
                <p th:text="'수령인 이름 : '+${order.delivery.name}"></p>
                <p th:text="'휴대폰 번호 : '+${order.delivery.phone}"></p>
                <p th:text="'주소 : ('+${order.delivery.address.zipcode}+') '+${order.delivery.address.city}+'시 '+${order.delivery.address.street}"></p>
            </div>
        </div>
        <div style="padding-top: 20px; padding-bottom: 50px">
            <h4>결제 정보</h4>
            <div style="background-color: #EEEEEE; padding: 3%; color:#4082d9; height: fit-content">
                <p th:text="'총 결제 금액 : '+${order.totalPrice}"></p>
            </div>
        </div>
    </div>
    <div style="clear: both" th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/order/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }

    function deleteOrder(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/order/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>