<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div style="width: 50%; margin: auto; padding-top: 50px; padding-bottom: 50px;">
        <div style="text-align: center; margin-bottom: 20px">
            <h3>회원가입</h3>
        </div>
        <form onsubmit="return onSubmit()" role="form" action="/members/new" th:object="${memberDto}" method="post" style="color: #444444">
            <p style="color: #268aff">회원 정보 *</p>
            <p class="field-error-text" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>
            <div class="form-group required-3">
                <label th:for="name">이름</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
            </div>
            <p class="field-error-text" th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">Incorrect date</p>
            <div class="form-group required-3">
                <label th:for="loginId">아이디</label>
                <input id="login-id" type="text" th:field="*{loginId}" class="form-control" placeholder="아이디를 입력하세요"
                       th:class="${#fields.hasErrors('loginId')}? 'form-control fieldError' : 'form-control'">
                <button id="id-check" type="button" class="btn btn-outline-primary">중복확인</button>
            </div>
            <p class="field-error-text" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
            <div class="form-group required-3">
                <label th:for="password">비밀번호</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            </div>
            <p class="field-error-text" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect date</p>
            <div class="form-group required-2">
                <label th:for="phone">휴대폰 번호</label>
                <input id="phone" type="tel" th:field="*{phone}" class="form-control" placeholder="휴대폰 번호를 입력하세요"
                       th:class="${#fields.hasErrors('phone')}? 'form-control fieldError' : 'form-control'">
                <button type="button" id="send" class="btn btn-outline-primary">인증번호 요청</button>
            </div>
            <div class="form-group required-3" style="margin-bottom: 40px; padding-top: 5px" id="certificate">
                <input id="certificateNum" type="text" name="certificateNumber" class="form-control" placeholder="인증 번호를 입력하세요"
                       th:class="form-control">
                <button type="button" id="enterBtn" class="btn btn-outline-primary">확인</button>
            </div>

            <p style="color: #268aff">배송 정보 *</p>
            <p class="field-error-text" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}">Incorrect date</p>
            <div class="form-group">
                <label th:for="zipcode">우편번호</label>
                <input id="zipcode" type="text" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요"
                readonly onclick="findAddr()" th:class="${#fields.hasErrors('zipcode')}? 'form-control fieldError' : 'form-control'">
            </div>
            <p class="field-error-text" th:if="${#fields.hasErrors('street')}" th:errors="*{street}">Incorrect date</p>
            <div class="form-group">
                <label th:for="city">도로명 주소</label>
                <input id="streetAdr" type="text" th:field="*{street}" class="form-control" placeholder="도로명 주소를 입력하세요" readonly
                       th:class="${#fields.hasErrors('street')}? 'form-control fieldError' : 'form-control'">
            </div>
            <p class="field-error-text" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}">Incorrect date</p>
            <div class="form-group">
                <label th:for="street">상세주소</label>
                <input id="detailAdr" type="text" th:field="*{detail}" class="form-control" placeholder="상세 주소를 입력하세요"
                       th:class="${#fields.hasErrors('detail')}? 'form-control fieldError' : 'form-control'">
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; height: 45px; margin-top: 40px">회원가입</button>
        </form>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>
<style>
    .fieldError {
        border-color: #bd2130;
    }

    .field-error-text {
        color: #bd2130;
    }

    form div {
        display: flex;
        flex-direction: row;
    }

    .form-group label {
        flex: 1;
        padding-top: 5px;
    }

    .form-group input {
        flex: 3;
    }

    #login-id {
        flex: 2;
    }

    #id-check {
        flex: 0.7;
    }

    .required-2 input{
        flex: 2;
        margin-right: 15px;
    }

    .required-3 input {
        flex: 3;
    }

    .required-3 button {
        flex: 1;
        margin-left: 15px;
    }
</style>
<script>

    var isCertificated = false;
    var isValidId = false;

    var autoHypenPhone = function(str){
        str = str.replace(/[^0-9]/g, '');
        var tmp = '';
        if( str.length < 4){
            return str;
        }else if(str.length < 7){
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3);
            return tmp;
        }else if(str.length < 11){
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3, 3);
            tmp += '-';
            tmp += str.substr(6);
            return tmp;
        }else{
            tmp += str.substr(0, 3);
            tmp += '-';
            tmp += str.substr(3, 4);
            tmp += '-';
            tmp += str.substr(7);
            return tmp;
        }

        return str;
    }


    var phone = document.getElementById('phone');

    phone.onkeyup = function(){
        console.log(this.value);
        this.value = autoHypenPhone( this.value ) ;
    }


    $('#id-check').click(function() {
        const loginId = $('#login-id').val();
        var idReg = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{6,20}$/;

        if(idReg.test(loginId)==true) {
            $.ajax({
                url: '/members/new/loginIdValidation',
                type: 'POST',
                data: {
                    "loginId" : loginId
                },
                success(data) {
                    if(data == true) {
                        alert("사용 가능한 아이디입니다.");
                        isValidId = true;
                    }
                    else {
                        alert("중복된 아이디입니다.");
                        isValidId = false;
                    }
                }
            })
        }
        else {
            alert("6-20자 사이의 영문, 숫자로만 입력할 수 있습니다.");
        }
    })

    $('#send').click(function() {

        // var nameReg = /^[가-힣]{2,10}$/;
        // var idReg = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{6,20}$/;
        // var pwReg = /^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{6,20}$/;
        var phoneReg = /^\d{3}-\d{3,4}-\d{4}$/;
        const phone = $('#phone').val();
        if(phoneReg.test(phone)==true) {
            $.ajax ({
                url: '/members/new/getCertificate',
                type: 'POST',
                data: {
                    "phone" : phone
                },
                success: function(data) {
                    const checkNum = data;
                    alert("인증번호가 전송되었습니다.");

                    $('#enterBtn').click(function() {
                        const userNum = $('#certificateNum').val();
                        if(checkNum === userNum) {
                            alert('인증 성공하였습니다.');
                            isCertificated = true;
                            document.getElementById("phone").readOnly = true;
                            document.getElementById("phoneBtn").style.visibility = "hidden";
                            document.getElementById("certificate").style.visibility = "hidden";
                        }
                        else {
                            alert('인증 실패하였습니다. 다시 입력해주세요.');
                        }
                    });
                }
            });
        }
        else {
            alert("올바른 휴대폰 번호를 입력해주세요");
        }

    });

    function onSubmit() {
        if(isValidId==false){
            alert("아이디를 확인해주세요");
            return false;
        }
        if(isCertificated==false){
            alert("휴대폰 번호가 인증되지 않았습니다.");
            return false;
        }
        return true;
    }


    // [출처] : https://ws-pace.tistory.com/38
    function findAddr() {
        new daum.Postcode({
            oncomplete: function (data) {
                var addr = '' // 주소 변수
                var extraAddr = '' // 참고항목 변수

                if(data.userSelectedType=== 'R') { // 사용자가 도로명 주소를 선택했을 때
                    addr = data.roadAddress;
                }
                else {
                    addr = data.jibunAddress;
                }

                if(data.userSelectedType=== 'R') {
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== ''? ', ' + data.buildingName: data.buildingName);
                    }
                    if(extraAddr !== '') {
                        extraAddr += ' ('+extraAddr+')';
                    }
                }
                document.getElementById("zipcode").value = data.zonecode;
                document.getElementById("streetAdr").value = addr;
                document.getElementById("detailAdr").focus();
            }
        }).open();
    }

</script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</html>