<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>

<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div style="width: 50%; margin: auto; padding-top: 50px; padding-bottom: 50px;">
        <div style="text-align: center; margin-bottom: 20px">
            <h3>회원가입</h3>
        </div>
        <form onsubmit="return onSubmit()" role="form" action="/members/new" th:object="${memberDto}" method="post" style="color: #444444">
            <p style="color: #268aff">필수 정보 *</p>
            <div class="form-group"  style="display: flex; flex-direction: row">
                <label th:for="name" style="flex: 1; padding-top: 5px">이름</label>
                <input style="flex: 3" type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요"
                       th:class="${#fields.hasErrors('name')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>

            </div>
            <div class="form-group"  style="display: flex; flex-direction: row">
                <label th:for="loginId" style="flex: 1; padding-top: 5px">아이디</label>
                <input style="flex: 3" type="text" th:field="*{loginId}" class="form-control" placeholder="아이디를 입력하세요"
                       th:class="${#fields.hasErrors('loginId')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">Incorrect date</p>
            </div>
            <div class="form-group"  style="display: flex; flex-direction: row;">
                <label th:for="password" style="flex: 1; padding-top: 5px">비밀번호</label>
                <input style="flex: 3" type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect date</p>
            </div>
            <div style="display: flex; flex-direction: row;">
                <label th:for="phone" style="flex: 1; padding-top: 5px">휴대폰 번호</label>
                <input id="phone" style="flex: 2; margin-right: 15px" type="text" th:field="*{phone}" class="form-control" placeholder="휴대폰 번호를 입력하세요"
                       th:class="${#fields.hasErrors('phone')}? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Incorrect date</p>
                <button type="button" id="send" class="btn btn-outline-primary">인증번호 요청</button>
            </div>
            <div style="display: flex; flex-direction: row;  margin-bottom: 40px">
                <input style="flex: 2" id="certificateNum" type="text" name="certificateNumber" class="form-control" placeholder="인증 번호를 입력하세요"
                       th:class="form-control">
                <button type="button" id="enterBtn" class="btn btn-outline-primary" style="flex: 1">확인</button>
            </div>


            <p style="color: #268aff">배송 정보</p>
            <div class="form-group"  style="display: flex; flex-direction: row">
                <label th:for="city" style="flex: 1; padding-top: 5px">도시</label>
                <input style="flex: 3" type="text" th:field="*{city}" class="form-control" placeholder="도시를 입력하세요">
            </div>
            <div class="form-group"  style="display: flex; flex-direction: row">
                <label th:for="street" style="flex: 1; padding-top: 5px">거리</label>
                <input style="flex: 3" type="text" th:field="*{street}" class="form-control" placeholder="거리를 입력하세요">
            </div>
            <div class="form-group"  style="display: flex; flex-direction: row">
                <label th:for="zipcode" style="flex: 1; padding-top: 5px">우편번호</label>
                <input style="flex: 3" type="text" th:field="*{zipcode}" class="form-control" placeholder="우편번호를 입력하세요">
            </div>
            <button type="submit" class="btn btn-primary" style="width: 100%; height: 45px; margin-top: 40px">회원가입</button>
        </form>
    </div>

    <br/>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->

</body>

<script>

    var isCertificated = false;

    $('#send').click(function() {

        const phone = $('#phone').val();

        $.ajax ({
            url: '/members/new/getCertificateNumber',
            type: 'GET',
            data: {
                "phone" : phone
            },
            success: function(data) {
                const checkNum = data;
                alert("인증번호가 전송되었습니다.");

                $('#enterBtn').click(function() {
                    const userNum = $('#certificateNum').val();
                    if(checkNum === userNum) {
                        alert('인증 성공하였습니다.');
                        isCertificated = true;
                    }
                    else {
                        alert('인증 실패하였습니다. 다시 입력해주세요.');
                    }
                });
            }
        });

    });

    function onSubmit() {
        if(isCertificated==false){
            alert("휴대폰 번호가 인증되지 않았습니다.");
            return false;
        }
        return true;
    }

</script>
</html>