<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <h3>내가 찜한 목록</h3>
        <div th:if="${items.size()==0}" class="jumbotron">
            <h3>찜한 상품이 없습니다.</h3>
        </div>
        <table class="table table-striped" th:if="${items.size()>0}">
            <thead>
            <tr>
                <th>#</th> <th>상품명</th> <th>가격</th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}"></td>
                <td><a th:text="${item.name}" th:href="@{/items/detail(itemId=${item.id})}"></a></td>
                <td th:text="${item.price}"></td>
                <td>
                    <a href="#" th:href="'javascript:cancel('+${item.id}+')'">취소</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/like/" + id + "/cancel");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>