<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="bodyHeader" style="margin-top: 2%; margin-bottom: 3%">
    <a href="/">
        <h3 class="text-muted">DARE MALL</h3>
    </a>
    <ul class="nav nav-pills pull-right" style="margin-bottom: 2%">
        <li sec:authorize="isAuthenticated()">
            <a><a th:text="${#authentication.name}" href="/userinfo">회원</a>님 안녕하세요!</a>
            <a href="/shop">장바구니</a>
            <a href="/order/myOrder">주문내역</a>
            <a href="/likes">찜 목록</a>
            <a href="/logout">로그아웃</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a href="/members/login">Login</a>
            <a href="/members/new">회원가입</a>
        </li>
    </ul>
    <ul class="nav nav-pills pull-right">
        <li>
            <a class="btn btn-lg btn-dark" href="/items">전체 상품</a>
            <a class="btn btn-lg btn-dark"  href="/items/books">도서</a>
            <a class="btn btn-lg btn-dark"  href="/items/albums">앨범</a>
        </li>
    </ul>
</div>