<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="header" th:fragment="bodyHeader">
    <div class="body-header">
        <div class="topper">
            <ul class="nav nav-pills pull-right">
                <li sec:authorize="isAuthenticated() && !hasRole('ROLE_ADMIN')">
                    <a style="margin-right: 10px;">
                        <a id="hello-member" th:text="${#authentication.name}" href="/userinfo">회원</a>님 안녕하세요!
                    </a>
                    <a class="right" href="/shop">장바구니</a>
                    <a class="right" href="/userinfo/orderList">주문내역</a>
                    <a class="right" href="/like">찜 목록</a>
                    <a href="/logout" id="logout-member">로그아웃</a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/members/login" class="right">Login</a>
                    <a href="/members/new">회원가입</a>
                </li>
                <li sec:authorize="hasRole('ROLE_ADMIN')">
                    <a style="margin-right: 10px;">
                        <a id="hello-admin" th:text="${#authentication.name}" href="/userinfo">관리자</a>님 안녕하세요!
                    </a>
                    <a class="right" href="/admin">관리자 페이지</a>
                    <a href="/logout" id="logout-admin">로그아웃</a>
                </li>
            </ul>
        </div>
        <div class="flex-row">
            <div class="logo">
                <a href="/">
                    <img th:src="@{/images/logo.png}"/>
                </a>
            </div>
            <div class="search-bar">
                <form role="form" method="get" th:action="@{/items}" class="flex-row">
                    <div class="search-option">
                        <select name="option" class="form-control">
                            <option value="all">통합검색</option>
                            <option value="book">도서</option>
                            <option value="album">앨범</option>
                        </select>
                    </div>
                    <div class="search-input">
                        <input type="text" placeholder="책 제목 / 작가 / 앨범 검색" name="searchName" th:value="${searchName}"/>
                    </div>
                    <img onclick="submit();" th:src="@{/images/find.png}"/>
                </form>
            </div>
        </div>


        <div class="navigation">
            <div class="flex-row">
                <a class="btn btn-lg btn-dark" href="/items">전체 상품</a>
                <a class="btn btn-lg btn-dark" href="/items/books">도서</a>
                <a class="btn btn-lg btn-dark" href="/items/albums">앨범</a>
            </div>
        </div>
    </div>

</div>
