<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="forgetHeader" style="margin-top: 5%; margin-bottom: 3%; display: flex; flex-direction: row; vertical-align: center">
    <a href="/" style="text-decoration: none">
        <img th:src="@{/images/logo.png}" style="width: 200px"/>
    </a>
    <a href="/members/forgetId" style="text-decoration: none; color: black; margin-top: auto; margin-bottom: auto; margin-left: 20px"><h4>아이디 찾기</h4></a>
    <a href="/members/forgetPassword" style="text-decoration: none; color: black; margin-top: auto; margin-bottom: auto; margin-left: 20px"><h4>비밀번호 찾기</h4></a>
</div>