<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="myPageMenu">
    <div class="menu">
        <p>주문내역</p>
        <ul>
            <li>
                <a href="/userinfo/orderList">주문내역/배송조회</a>
            </li>
        </ul>
        <p>회원 정보</p>
        <ul>
            <li>
                <a href="/userinfo/myAddress">배송지 관리</a>
            </li>
            <li>
                <a href="/userinfo/myInfo">회원 정보 수정</a>
            </li>
        </ul>
    </div>
</div>
