<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div th:replace="fragments/bodyHeader :: bodyHeader" />
        <th:block th:if="${ads.size() > 0}">
            <a th:each="ad : ${ads}" th:href="${ad.href}">
                <img class="ad" th:src="${ad.imagePath}" style="width: 100%"/>
            </a>
        </th:block>
        <div class="jumbotron">
            <h1>DARE MALL</h1>
            <h3> 도서 / 음반 판매 </h3>
        </div>
    <div th:replace="fragments/footer :: footer" />
    </div> <!-- /container -->
</body>
<script>
    var index = 0;   //이미지에 접근하는 인덱스
    window.onload = function(){
        slideShow();
    }

    function slideShow() {
        var i;
        var x = document.getElementsByClassName("ad");  //slide1에 대한 dom 참조
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";   //처음에 전부 display를 none으로 한다.
        }
        index++;
        if (index > x.length) {
            index = 1;  //인덱스가 초과되면 1로 변경
        }
        x[index-1].style.display = "block";  //해당 인덱스는 block으로
        setTimeout(slideShow, 4000);   //함수를 4초마다 호출

    }
</script>
</script>
</html>