<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/adminHeader :: adminHeader" />
    <div class="admin-member">
        <a href="/admin/order"><h3> 주문 관리 </h3></a>
        <div class="admin-search-bar">
            <form role="form" method="get" th:action="@{/admin/order/search}" class="flex-row">
                <div class="search flex-row">
                    <button type="reset" class="btn btn-dark" onclick="window.location.href = '/admin/order'">전체보기</button>
                    <button type="reset" class="btn btn-dark" onclick="window.location.href = '/admin/order?status=now'">진행 중인 주문</button>
                    <button type="reset" class="btn btn-dark" onclick="window.location.href = '/admin/order?status=comp'">진행 완료 주문</button>
                    <button type="reset" class="btn btn-dark" onclick="window.location.href = '/admin/order?status=cancel'">취소된 주문</button>
                    <input type="text" placeholder="주문 번호, 주문자 이름, 주문자 아이디 검색" name="orderSearch" th:value="${orderSearch}"/>
                </div>
                <button type="submit" class="btn btn-dark">검색</button>
            </form>
        </div>
        <table class="table table-striped" th:if="${orders.size()>0}" style="text-align: center">
            <colgroup>
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="10%">
                <col width="30%">
                <col width="10%">
                <col width="10%">
            </colgroup>
            <thead>
            <tr style="color: #37a3e3">
                <th>주문자 명</th> <th>주문자 아이디</th> <th>주문 번호</th> <th>주문 일자</th> <th>주문 내역</th> <th>주문 상태</th> <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.name}"></td>
                <td th:text="${order.loginId}"></td>
                <td th:text="${order.id}"></td>
                <td th:text="${order.orderDate}"></td>
                <td>
                    <a th:href="@{/order/detail(orderId=${order.id})}" th:text="${order.title}"></a>
                </td>
                <td th:text="${order.status}">
                </td>
                <td class="admin-table-a">
                    <a th:href="'javascript:updateOrderBtn('+${order.id}+')'" style="color: dodgerblue">상세 내역 조회</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="updateModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">주문 상세</h5>
                    <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form enctype="multipart/form-data" id="updateForm" th:object="${updateOrderForm}">
                        <div class="flex-row">
                            <label>주문 번호</label>
                            <input class="form-control" type="text" id="id" th:field="*{id}" readonly>
                        </div>
                        <div class="flex-row">
                            <label>주문자 명</label>
                            <input class="form-control" type="text" id="name" readonly>
                        </div>
                        <div class="flex-row">
                            <label>주문자 아이디</label>
                            <input class="form-control" type="text" id="loginId" readonly>
                        </div>
                        <div class="flex-row">
                            <label>주문 일자</label>
                            <input class="form-control" type="text" id="orderDate" readonly>
                        </div>
                        <div class="flex-row">
                            <label>주문 상태</label>
                            <select id="orderStatus" class="form-control" th:field="*{orderStatus}" onchange="orderStatusChange()">
                                <option value="option">주문 상태</option>
                                <option value="ORDER">주문 완료</option>
                                <option value="PAY">결제 완료</option>
                                <option value="CANCEL">주문 취소</option>
                            </select>
                        </div>
                        <div class="flex-row">
                            <label>배송 상태</label>
                            <select id="deliveryStatus" class="form-control" th:field="*{deliveryStatus}" onchange="deliveryStatusChange()">
                                <option value="option">주문 상태</option>
                                <option value="NONE">====</option>
                                <option value="READY">배송 준비</option>
                                <option value="SHIP">배송 중</option>
                                <option value="COMP">배송 완료</option>
                            </select>
                        </div>
                        <div>
                            <label>주문 내역</label>
                            <div class="orderItems-table">
                                <table id="orderItems" class="table" th:if="${orders.size()>0}" style="text-align: center">
                                    <thead>
                                    <tr style="color: #37a3e3">
                                        <th>id</th> <th>주문 상품</th> <th>수량</th> <th>금액</th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="flex-row">
                            <label>주문 금액</label>
                            <input class="form-control" type="text" id="price" readonly>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="updateBtn" type="button" class="btn btn-primary" style="margin: auto">수정</button>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
<style>

    .modal-body form {
        margin-top: 20px;
        margin-bottom: 20px
    }

    .modal-body .flex-row {
        margin-bottom: 10px;
    }

    .modal-body .flex-row label {
        flex: 1;
        margin: auto;
        height: fit-content;
    }

    .modal-body .flex-row input{
        flex: 3;
    }

    .modal-body .flex-row select{
        flex: 3;
    }

    .modal-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .table td {
        vertical-align: middle;
    }

    .orderItems-table {
        margin-left: 20px;
        margin-right: 20px;
    }

</style>
<script>

    function updateOrderBtn(id) {

        $.ajax({
            url: '/order/findOrder',
            method: 'POST',
            data: {
                "orderId" : id
            },
            success: function(data) {
                document.getElementById("id").value = data.id;
                document.getElementById("name").value = data.name;
                document.getElementById("loginId").value = data.loginId;
                document.getElementById("orderDate").value = data.orderDate;
                document.getElementById("orderStatus").value = data.orderStatus;
                document.getElementById("deliveryStatus").value = data.deliveryStatus;
                if(data.orderStatus=='ORDER') {
                    document.getElementById("deliveryStatus").disabled = true;
                }
                $('#orderItems tr').nextAll().detach();
                var table = document.getElementById("orderItems");

                for(let i=0; i<data.orderItems.length; i++) {
                    let tr = table.insertRow();
                    let itemId = tr.insertCell(0);
                    itemId.textContent = data.orderItems[i].itemId;

                    let name = tr.insertCell(1);
                    name.textContent = data.orderItems[i].name;

                    let count = tr.insertCell(2);
                    count.textContent = data.orderItems[i].count;

                    let price = tr.insertCell(3);
                    price.textContent = data.orderItems[i].price;

                }

                document.getElementById("price").value = data.totalPrice;
                $('#updateModal').modal('toggle');
            },
            error: function(err) {
                alert(err);
            }
        })


    }

    $('#updateBtn').click(function () {
        if(document.getElementById("deliveryStatus").disabled == true) {
            document.getElementById("deliveryStatus").disabled = false;
            document.getElementById("deliveryStatus").value = "NONE";
        }
        if(checkForm()==true) {
            $.ajax({
                url: '/order/update',
                type: 'POST',
                data: $('#updateForm').serialize(),
                success: function(data) {
                    alert(data);
                    window.location.href = '/admin/order';
                },
                error: function(data) {
                    alert(data);
                }
            })
        }
    });

    function orderStatusChange() {
        if($('#orderStatus').val() == "ORDER") {
            document.getElementById("deliveryStatus").value = "NONE";
            document.getElementById("deliveryStatus").disabled = true;
        }
        else {
            document.getElementById("deliveryStatus").disabled = false;
        }
    }

    function deliveryStatusChange() {
        if($('#orderStatus').val() == "ORDER" && $('#deliveryStatus').val() != "NONE") {
            alert("결제가 왼료되지 않았습니다. 배송 상태를 수정할 수 없습니다.");
            document.getElementById("deliveryStatus").value = "NONE";
            document.getElementById("deliveryStatus").disabled = true;
        }
    }

    function checkForm() {
        if($('#orderStatus').val()=="option") {
            alert("주문 상태를 선택해주세요");
            return false;
        }
        if($('#deliveryStatus').val()=="option") {
            alert("배송 상태를 선택해주세요");
            return false;
        }
        if($('#orderStatus').val() == "ORDER" && $('#deliveryStatus').val() != "NONE") {
            alert("결제가 왼료되지 않았습니다. 배송 상태를 수정할 수 없습니다.");
        }
        return true;
    }

</script>
</html>